<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [11]:
# A
print("Hello, my name is Eugene")

# B
a = "Eugene"
print(f"Hello, my name is {a}")

# C
print("Hello, my name is " + a)

# D
print("Hello, my name is {}".format(a))

Hello, my name is Eugene
Hello, my name is Eugene
Hello, my name is Eugene
Hello, my name is Eugene

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [49]:
# A
kelereng = 15
kotak = 4
teman = 12
hasil = (kelereng*kotak)/teman
print("A. Setiap teman akan mendapat: ", hasil)

# B
hasil2 = 8 ** (1/3)
print("B. Hasil pangkat:", hasil2)

# C
uang = 50000
harga = 7500
jumlah_paket = uang // harga
jumlah_kertas = jumlah_paket * 100
kembalian = uang % harga
print("C. Jumlah kertas: ", jumlah_kertas, "kertas")
print(f"kembalian: Rp{kembalian:,}")

A. Setiap teman akan mendapat:  5.0
B. Hasil pangkat: 2.0
C. Jumlah kertas:  600 kertas
kembalian: Rp5,000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [13]:
no1 = "1000"
no11 = int(no1)
print("No 1.",no11,type(no11))

no2 = "5.25"
no2 = float(no2)
no22 = int(no2)
print("No 2. ", no22,type(no22))

no3 = 5
no33 = float(no3)
print("No 3. ", no33, type(no33))

no4 = 1000
no44 = str(no4)
print("No 4. ", no44, type(no44))

No 1. 1000 <class 'int'>
No 2.  5 <class 'int'>
No 3.  5.0 <class 'float'>
No 4.  1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [19]:
text = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
substring1 = text[20:31]
print("1.",substring1)

text_split = text.split()
print("2." ,text_split)

reversed = text[::-1]
print("3. ",reversed)

1. what a man'
2. ['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
3.  .slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "Fakultas".
2.   Cetaklah panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [24]:
fakultas = ['SIFT', 'Tourism', 'Business','Medical']
faktuple = tuple(fakultas)
print("1.",faktuple)

panjangtuple = len(faktuple)
print("2. ", panjangtuple)

posisisift = faktuple.index('SIFT')
print("3. ", posisisift)

1. ('SIFT', 'Tourism', 'Business', 'Medical')
2.  4
3.  0

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti makanan yang kosong dengan nama makanan baru (makanan yang mana bebas)

In [32]:
favfood = ['Sushi','Bakso','Pizza','Kebab','Tahu tek']
print("1.")
for food in favfood:
    print(food)

print("2.")
for food in favfood:
    print("Aku ingin pesan", food)

print("3.")
if 'Kebab' in favfood:
    favfood[favfood.index('Kebab')] = 'Siomay'
print(favfood)

1.
Sushi
Bakso
Pizza
Kebab
Tahu tek
2.
Aku ingin pesan Sushi
Aku ingin pesan Bakso
Aku ingin pesan Pizza
Aku ingin pesan Kebab
Aku ingin pesan Tahu tek
3.
['Sushi', 'Bakso', 'Pizza', 'Siomay', 'Tahu tek']

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [37]:
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}
gabungan = set1.union(set2)
print("2." ,gabungan)

tidak_intersection = set1.isdisjoint(set3)
print("3.", tidak_intersection)

adalah_bagian = set4.issubset(set1)
print("4.",adalah_bagian)

2. {1, 2, 3, 4, 6, 8}
3. True
4. True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [44]:
user = int(input("Masukkan jumlah penggunaan listrik dalam kWh: "))

if user < 100:
    user = 100
    tarif = user * 1000
elif user < 1000:
    tarif = user * 1000
else:
    tarif = user * 2000  
    tarif += tarif * 0.10  

print(f"Tarif listrik yang harus dibayar adalah: Rp{tarif:,}")

Tarif listrik yang harus dibayar adalah: Rp100,000

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [61]:
penumpang = int(input("Masukan orang yang naik angkot: "))

if penumpang < 0:
            print("Jumlah orang tidak bisa negatif!")
else:
    isi_angkot = 10
    angkot = 0
    angkot = (penumpang + isi_angkot - 1) // isi_angkot
    print(f"Jumlah angkot yang diperlukan: {angkot}")

Jumlah angkot yang diperlukan: 1

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan rand untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buatlah matriks 3x4 menggunakan numpy array berisi angka 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [65]:
# 1
import numpy as np
minggu = np.array(['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu'])
print(minggu)

['Senin' 'Selasa' 'Rabu' 'Kamis' 'Jumat' 'Sabtu' 'Minggu']

In [66]:
# 2
minggu_sorted = np.sort(minggu)
print(minggu_sorted)

['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [67]:
import random
# 3
randompilihan = int(np.random.rand() * len(minggu))
randomhari = minggu[randompilihan]

print(f"Selamat hari {randomhari} adalah hari baikmu hari ini!")

Selamat hari Rabu adalah hari baikmu hari ini!

In [71]:
# 4
import numpy as np

matriks = np.array([[1, 2, 3, 4], 
                    [5, 6, 7, 8], 
                    [3, 4, 5, 6]])

print("Shape dari matriks:", matriks.shape)
print("Dimensi dari matriks:", matriks.ndim)

Shape dari matriks: (3, 4)
Dimensi dari matriks: 2

In [72]:
# 5
matriks2 = np.array([[1 ,2, 3, 4],
                     [5, 6, 7, 8],
                    [9, 10, 11, 12]])

rowketiga = matriks2[:,2]
print(rowketiga)

[ 3  7 11]

In [73]:
# 6
matriks_reshape = matriks2.reshape(2, 6)

# Cetak matriks yang sudah di-reshape
print("Matriks setelah di-reshape menjadi (2, 6):")
print(matriks_reshape)

Matriks setelah di-reshape menjadi (2, 6):
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [76]:
import pandas as pd

# 1
data_list = ["Information", "Systems", "for", "Business"]
series = pd.Series(data_list)
print("Pandas Series:")
print(series)
print()
# 2
data_dict = {
    "brand": ["Ford"], 
    "model": ["Mustang"], 
    "year": [1964]
}
df = pd.DataFrame(data_dict)

print("Pandas DataFrame:")
print(df)

Pandas Series:
0    Information
1        Systems
2            for
3       Business
dtype: object

Pandas DataFrame:
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [79]:
# 3
url = 'https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls'
df = pd.read_csv(url)

In [80]:
# 4
print("Kota yang ada dalam dataset:")
print(df['State'].unique())

Kota yang ada dalam dataset:
['New York' 'California' 'Florida']

In [81]:
# 5
df_random = df.sample(n=10, random_state=1)
print("\n10 row random dari dataset:")
print(df_random.head())

10 row random dari dataset:
    R&D Spend  Administration  Marketing Spend       State     Profit
27   72107.60       127864.55        353183.81    New York  105008.31
35   46014.02        85047.44        205517.64    New York   96479.51
40   28754.33       118546.05        172795.67  California   78239.91
38   20229.59        65947.93        185265.10    New York   81229.06
2   153441.51       101145.55        407934.54     Florida  191050.39

In [82]:
# 6
print("\nInformasi DataFrame:")
df.info()

Informasi DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [83]:
# 7
df_california = df[df['State'] == 'California']
print("\nData 'R&D Spend' dan 'Marketing Spend' dari kota 'California':")
print(df_california[['R&D Spend', 'Marketing Spend']])

Data 'R&D Spend' dan 'Marketing Spend' dari kota 'California':
    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [84]:
# 8
print("\nMissing values per kolom:")
print(df.isnull().sum())

Missing values per kolom:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [85]:
# 9
df_filtered = df[df['Profit'] >= 50000]
print("\nData setelah menghapus row dengan profit di bawah 50000:")
print(df_filtered)

Data setelah menghapus row dengan profit di bawah 50000:
    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08

In [86]:
# 10
df_sorted = df.sort_values(by='Marketing Spend', ascending=False)
print("\nDataFrame diurutkan berdasarkan biaya marketing (terbesar ke terkecil):")
print(df_sorted)

DataFrame diurutkan berdasarkan biaya marketing (terbesar ke terkecil):
    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
27   72107.60       127864.55        353183.81    New York  105008.31
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
46    1315.46       115816.21        297114.46     Florida   49490.75
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
6   134615.46       147198.87        127716.82  California  156122.51
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
49       0.00       116983.80         45173.06  California   14681.40
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
19   86419.70       153514.11             0.00    New York  122776.86
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction date', 'house age', 'distance to the nearest MRT station', 'number of convinience stores', 'latitude', 'longitude', 'house price of unit area'
5. Cek apakah ada missing values dari masing-masing kolom

In [87]:
# 1
import pandas as pd

# Import dataset
url = 'https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv'
df = pd.read_csv(url)

In [88]:
# 2
print(df.sample(10))

      No  X1 transaction date  X2 house age  \
93    94             2012.917          31.9
173  174             2013.083          41.3
146  147             2012.750           0.0
273  274             2013.417          13.2
82    83             2013.083          13.2
130  131             2013.250          29.6
134  135             2012.667          33.4
362  363             2013.417          17.1
163  164             2013.500           8.5
140  141             2013.250          16.2

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
93                                1146.3290                                0
173                                401.8807                                4
146                                185.4296                                0
273                                170.1289                                1
82                                 150.9347                                7
130                                535.5270                                8
134                                186.9686                                6
362                                967.4000                                4
163                                104.8101                                5
140                                289.3248                                5

     X5 latitude  X6 longitude  Y house price of unit area
93      24.94920     121.53076                        16.1
173     24.98326     121.54460                        35.1
146     24.97110     121.53170                        52.2
273     24.97371     121.52984                        29.3
82      24.96725     121.54252                        48.1
130     24.98092     121.53653                        37.5
134     24.96604     121.54211                        42.2
362     24.98872     121.53408                        40.0
163     24.96674     121.54067                        55.5
140     24.98203     121.54348                        51.4

In [89]:
# 3
print(df.describe())

               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [90]:
# 4
df = df.drop(columns=['No'])

df.columns = ['transaction date', 'house age', 'distance to the nearest MRT station',
              'number of convenience stores', 'latitude', 'longitude',
              'house price of unit area']

In [91]:
# 5
print(df.isnull().sum())

transaction date                       0
house age                              0
distance to the nearest MRT station    0
number of convenience stores           0
latitude                               0
longitude                              0
house price of unit area               0
dtype: int64